.wy-side-nav-search {
    background-color: teal;
}

.rst-content .note .admonition-title {
    background-color: teal;
}

.rst-content div[class^="highlight"] pre {
    white-space: pre-line;
}

.wy-side-nav-search > div.version {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.wy-nav-content {
    max-width: 1050px !important;
}